/* https://codepen.io/enxaneta/full/adLPwv/ */

.flex {
    display: flex;

}

.flexcol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 10px;
}

td {
    padding-left: 10px;
  }